<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>


	<connectionStrings>
		<!-- Cadena de conexión a la base de datos utilizando SQL Server -->
		<add name="Stringconexion"
			 connectionString="Server=DESKTOP-UJFAAPR\SQLEXPRESS;
			 Database=CentroComercialDB;
			 user id=sa;
			 Password=ucr2025;
			 TrustServerCertificate=true" />
	</connectionStrings>
</configuration>